In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
names = ["Denver", "Miami", "Minneapolis", "New York", "Phoenix"]
colnames = ["W0000_0600","W0601_1200","W1201_1800","W1801_2359","WS1","WS2","WS3","WS4"]
countries = [ 
 pd.read_csv('Denver.csv')
,pd.read_csv('Miami.csv')
,pd.read_csv('Minneapolis.csv')
,pd.read_csv('NewYork.csv')
,pd.read_csv('Phoenix.csv')
]

In [3]:
countries[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2192 entries, 0 to 2191
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        2192 non-null   object
 1   W0000_0600  2192 non-null   object
 2   W0601_1200  2192 non-null   object
 3   W1201_1800  2192 non-null   object
 4   W1801_2359  2192 non-null   object
 5   WS1         506 non-null    object
 6   WS2         342 non-null    object
 7   WS3         344 non-null    object
 8   WS4         408 non-null    object
 9   A0000_0600  2192 non-null   int64
 10  A0601_1200  2192 non-null   int64
 11  A1201_1800  2192 non-null   int64
 12  A1801_2359  2192 non-null   int64
 13  A_Total     2192 non-null   int64
 14  Accident    2192 non-null   bool
dtypes: bool(1), int64(5), object(9)
memory usage: 242.0+ KB

In [4]:
for i in range(len(names)): # get statistic for all the 5 countries
	print("\nCountry :", names[i])
	print(countries[i].describe(include="all"))

Country : Denver
              Date W0000_0600 W0601_1200 W1201_1800 W1801_2359    WS1    WS2  \
count         2192       2192       2192       2192       2192    506    342
unique        2192          7          6          6          6      5      4
top     2021-03-31      Clear      Clear      Clear      Clear  Light  Light
freq             1       1686       1850       1848       1784    394    236
mean           NaN        NaN        NaN        NaN        NaN    NaN    NaN
std            NaN        NaN        NaN        NaN        NaN    NaN    NaN
min            NaN        NaN        NaN        NaN        NaN    NaN    NaN
25%            NaN        NaN        NaN        NaN        NaN    NaN    NaN
50%            NaN        NaN        NaN        NaN        NaN    NaN    NaN
75%            NaN        NaN        NaN        NaN        NaN    NaN    NaN
max            NaN        NaN        NaN        NaN        NaN    NaN    NaN

          WS3    WS4   A0000_0600   A0601_1200   A1201_1800   A1801_2359  \
count     344    408  2192.000000  2192.000000  2192.000000  2192.000000
unique      4      5          NaN          NaN          NaN          NaN
top     Light  Light          NaN          NaN          NaN          NaN
freq      156    304          NaN          NaN          NaN          NaN
mean      NaN    NaN     0.619982     0.828011     1.109489     1.185675
std       NaN    NaN     1.187268     1.282569     1.330697     1.342258
min       NaN    NaN     0.000000     0.000000     0.000000     0.000000
25%       NaN    NaN     0.000000     0.000000     0.000000     0.000000
50%       NaN    NaN     0.000000     0.000000     0.000000     0.000000
75%       NaN    NaN     0.000000     2.000000     2.000000     2.000000
max       NaN    NaN     4.000000     4.000000     4.000000     4.000000

            A_Total Accident
count   2192.000000     2192
unique          NaN        2
top             NaN     True
freq            NaN     1494
mean       3.630474      NaN
std        5.337478      NaN
min        0.000000      NaN
25%        0.000000      NaN
50%        2.000000      NaN
75%        5.000000      NaN
max       65.000000      NaN

Country : Miami
              Date W0000_0600 W0601_1200 W1201_1800 W1801_2359    WS1    WS2  \
count         2192       2192       2192       2192       2192    934    875
unique        2192          7          7          7          7      5      5
top     2021-03-31      Clear      Clear      Clear      Clear  Light  Light
freq             1       1258       1317       1204       1232    687    599
mean           NaN        NaN        NaN        NaN        NaN    NaN    NaN
std            NaN        NaN        NaN        NaN        NaN    NaN    NaN
min            NaN        NaN        NaN        NaN        NaN    NaN    NaN
25%            NaN        NaN        NaN        NaN        NaN    NaN    NaN
50%            NaN        NaN        NaN        NaN        NaN    NaN    NaN
75%            NaN        NaN        NaN        NaN        NaN    NaN    NaN
max            NaN        NaN        NaN        NaN        NaN    NaN    NaN

          WS3    WS4   A0000_0600   A0601_1200   A1201_1800   A1801_2359  \
count     988    960  2192.000000  2192.000000  2192.000000  2192.000000
unique      5      5          NaN          NaN          NaN          NaN
top     Light  Light          NaN          NaN          NaN          NaN
freq      696    739          NaN          NaN          NaN          NaN
mean      NaN    NaN     1.191606     1.432938     1.629562     1.544708
std       NaN    NaN     1.343634     1.297074     1.248496     1.203907
min       NaN    NaN     0.000000     0.000000     0.000000     0.000000
25%       NaN    NaN     0.000000     0.000000     0.000000     0.000000
50%       NaN    NaN     0.000000     2.000000     2.000000     2.000000
75%       NaN    NaN     2.000000     2.000000     2.000000     2.000000
max       NaN    NaN     4.000000     4.000000     4.000000     4.000000

            A_Total Accident
count   2192.000000     2192
unique          NaN        2
top             NaN     True
freq            NaN     1812
mean      48.791971      NaN
std      108.428754      NaN
min        0.000000      NaN
25%        2.000000      NaN
50%        7.000000      NaN
75%       16.000000      NaN
max      941.000000      NaN

Country : Minneapolis
              Date W0000_0600 W0601_1200 W1201_1800 W1801_2359    WS1    WS2  \
count         2192       2192       2192       2192       2192    806    791
unique        2192          8          6          7          8      6      5
top     2021-03-31      Clear      Clear      Clear      Clear  Light  Light
freq             1       1386       1401       1380       1540    594    499
mean           NaN        NaN        NaN        NaN        NaN    NaN    NaN
std            NaN        NaN        NaN        NaN        NaN    NaN    NaN
min            NaN        NaN        NaN        NaN        NaN    NaN    NaN
25%            NaN        NaN        NaN        NaN        NaN    NaN    NaN
50%            NaN        NaN        NaN        NaN        NaN    NaN    NaN
75%            NaN        NaN        NaN        NaN        NaN    NaN    NaN
max            NaN        NaN        NaN        NaN        NaN    NaN    NaN

          WS3    WS4   A0000_0600   A0601_1200   A1201_1800   A1801_2359  \
count     812    652  2192.000000  2192.000000  2192.000000  2192.000000
unique      5      6          NaN          NaN          NaN          NaN
top     Light  Light          NaN          NaN          NaN          NaN
freq      513    505          NaN          NaN          NaN          NaN
mean      NaN    NaN     0.852646     0.909672     1.089872     1.097172
std       NaN    NaN     1.095488     1.055752     1.057734     1.105214
min       NaN    NaN     0.000000     0.000000     0.000000     0.000000
25%       NaN    NaN     0.000000     0.000000     0.000000     0.000000
50%       NaN    NaN     0.000000     0.000000     2.000000     2.000000
75%       NaN    NaN     2.000000     2.000000     2.000000     2.000000
max       NaN    NaN     4.000000     4.000000     4.000000     4.000000

            A_Total Accident
count   2192.000000     2192
unique          NaN        2
top             NaN     True
freq            NaN     1534
mean      10.383212      NaN
std       19.886374      NaN
min        0.000000      NaN
25%        0.000000      NaN
50%        4.000000      NaN
75%       13.000000      NaN
max      299.000000      NaN

Country : New York
              Date W0000_0600 W0601_1200 W1201_1800 W1801_2359    WS1    WS2  \
count         2192       2192       2192       2192       2192    736    575
unique        2192          6          6          6          7      5      5
top     2021-03-31      Clear      Clear      Clear      Clear  Light  Light
freq             1       1456       1617       1398       1403    409    332
mean           NaN        NaN        NaN        NaN        NaN    NaN    NaN
std            NaN        NaN        NaN        NaN        NaN    NaN    NaN
min            NaN        NaN        NaN        NaN        NaN    NaN    NaN
25%            NaN        NaN        NaN        NaN        NaN    NaN    NaN
50%            NaN        NaN        NaN        NaN        NaN    NaN    NaN
75%            NaN        NaN        NaN        NaN        NaN    NaN    NaN
max            NaN        NaN        NaN        NaN        NaN    NaN    NaN

          WS3    WS4   A0000_0600   A0601_1200   A1201_1800   A1801_2359  \
count     794    789  2192.000000  2192.000000  2192.000000  2192.000000
unique      5      5          NaN          NaN          NaN          NaN
top     Light  Light          NaN          NaN          NaN          NaN
freq      301    335          NaN          NaN          NaN          NaN
mean      NaN    NaN     0.702555     0.593978     0.808394     0.953011
std       NaN    NaN     1.102271     1.083177     1.144416     1.155259
min       NaN    NaN     0.000000     0.000000     0.000000     0.000000
25%       NaN    NaN     0.000000     0.000000     0.000000     0.000000
50%       NaN    NaN     0.000000     0.000000     0.000000     0.000000
75%       NaN    NaN     2.000000     0.000000     2.000000     2.000000
max       NaN    NaN     4.000000     4.000000     4.000000     4.000000

            A_Total Accident
count   2192.000000     2192
unique          NaN        2
top             NaN     True
freq            NaN     1456
mean       3.224453      NaN
std        4.972291      NaN
min        0.000000      NaN
25%        0.000000      NaN
50%        2.000000      NaN
75%        4.000000      NaN
max       55.000000      NaN

Country : Phoenix
              Date W0000_0600 W0601_1200 W1201_1800 W1801_2359    WS1    WS2  \
count         2192       2192       2192       2192       2192    217    201
unique        2192          6          4          6          5      5      4
top     2021-03-31      Clear      Clear      Clear      Clear  Light  Light
freq             1       1975       1991       1991       2029    178    150
mean           NaN        NaN        NaN        NaN        NaN    NaN    NaN
std            NaN        NaN        NaN        NaN        NaN    NaN    NaN
min            NaN        NaN        NaN        NaN        NaN    NaN    NaN
25%            NaN        NaN        NaN        NaN        NaN    NaN    NaN
50%            NaN        NaN        NaN        NaN        NaN    NaN    NaN
75%            NaN        NaN        NaN        NaN        NaN    NaN    NaN
max            NaN        NaN        NaN        NaN        NaN    NaN    NaN

          WS3    WS4   A0000_0600   A0601_1200   A1201_1800   A1801_2359  \
count     201    163  2192.000000  2192.000000  2192.000000  2192.000000
unique      5      5          NaN          NaN          NaN          NaN
top     Light  Light          NaN          NaN          NaN          NaN
freq      113    110          NaN          NaN          NaN          NaN
mean      NaN    NaN     0.911496     0.968066     1.083029     1.322536
std       NaN    NaN     1.178855     1.179810     1.147475     1.116035
min       NaN    NaN     0.000000     0.000000     0.000000     0.000000
25%       NaN    NaN     0.000000     0.000000     0.000000     0.000000
50%       NaN    NaN     0.000000     0.000000     1.000000     2.000000
75%       NaN    NaN     2.000000     2.000000     2.000000     2.000000
max       NaN    NaN     4.000000     4.000000     4.000000     4.000000

            A_Total Accident
count   2192.000000     2192
unique          NaN        2
top             NaN     True
freq            NaN     1718
mean       7.817062      NaN
std       11.093060      NaN
min        0.000000      NaN
25%        1.000000      NaN
50%        4.000000      NaN
75%        9.000000      NaN
max      103.000000      NaN

Types of analysis to do (Add if you think it is relevant):